{% extends "base.html" %}
{% block title %}{% endblock %}
{% block contenido %}
<h2>{% trans %}Sugarlabs Background Image Contest{% endtrans %}</h2>
<p>
{% trans %}
Sugarlabs is glad to announce the first contest for Sugar Background Images.
We'll choose 10 images that will form a pack of user-contributed backgrounds.
{% endtrans %}
</p>

<div class="text-center">
    <img src="{{ url_for('static', filename='contest/img/home.png') }}" alt="Sugarlabs">
</div>

<h3>{% trans %}1 - Create your background image:{% endtrans %}</h3>
<ul>
    <li>Be creative! You can use Paint or Turtle Blocks, Record to take photos, or any other Sugar activity.</li>
    <li>You are not restricted to Sugar activities.</li>
    <li>You can submit as many entries as you like.</li>
    <li>Try to use size 1600 x 1200 pixels.  Or if you are using a Sugar activity, use its default size.</li>
</ul>

<h3>2 - Follow these terms and conditions:</h3>
<ul>
    <li>Be the author of your entry. Derivative work is allowed too.</li>
    <li>Use the <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-by-sa</a> license, so everyone can enjoy your art!</li>
    <li>Don't forget to submit it as PNG format!</li>
</ul>

<h3>3 - Make a significant contribution to Sugar:</h3>
<p>
    <a class="btn btn-success" href="{{ url_for('submit') }}"><span class="glyphicon glyphicon-check"></span> Submit</a>
</p>

{% endblock %}
