{% extends "base.html" %}
{% block title %}{% endblock %}
{% block contenido %}
<h2>{% trans %}Sugarlabs Background Image Contest{% endtrans %}</h2>
<p>
{% trans %}
Sugarlabs is glad to announce the first contest for Sugar Background Images.
We'll choose 10 images that will form a pack of user-contributed backgrounds.
{% endtrans %}
</p>

<div class="text-center">
    <img src="{{ url_for('static', filename='contest/img/home.png') }}" alt="Sugarlabs">
</div>

<h3>{% trans %}1 - Create your background image:{% endtrans %}</h3>
<ul>
    <li>{% trans %}Be creative! You can use Paint or Turtle Blocks, Record to take photos, or any other Sugar activity.{% endtrans %}</li>
    <li>{% trans %}You are not restricted to Sugar activities.{% endtrans %}</li>
    <li>{% trans %}You can submit as many entries as you like.{% endtrans %}</li>
    <li>{% trans %}Try to use size 1600 x 1200 pixels.  Or if you are using a Sugar activity, use its default size.{% endtrans %}</li>
</ul>

<h3>{% trans %}2 - Follow these terms and conditions:{% endtrans %}</h3>
<ul>
    <li>{% trans %}Be the author of your entry. Derivative work is allowed too.{% endtrans %}</li>
    <li>{% trans %}Use the <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-by-sa</a> license, so everyone can enjoy your art!{% endtrans %}</li>
    <li>{% trans %}Don't forget to submit it as PNG format!{% endtrans %}</li>
</ul>

<h3>{% trans %}3 - Make a significant contribution to Sugar:{% endtrans %}</h3>
<ul>
    <li>{% trans %}You have time until May 31, 2014{% endtrans %}</li>
</ul>
<p>
    <a class="btn btn-success" href="{{ url_for('submit') }}"><span class="glyphicon glyphicon-check"></span> {% trans %}Submit{% endtrans %}</a>
</p>

{% endblock %}
